*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
  /* background-image: url("../images/banner-bg.jpg"); */
/* background-repeat: no-repeat;

background-position: top center; */
}
.container {
    padding:5px 50px;
    margin-top: 4px;
} 
.pharmacy-container{
    display: flex;
     width:(50 50);
    /* height: 50%; */
    justify-content: center;
    align-items: center;
}
.navber{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;


}

.header-line{
    /* display: flex; */
    color:rgb(52, 165, 77);
}



.text-area > h1 {
    color:rgb(52, 165, 77);
}
.text-area{
    width: 40%;
    align-items: center;

}
.image-area{
    width:50%;
    align-items: center;
}

.image-area > img {
    width: 50%;
}






.navber >li {
list-style: none;
}
.navber >li a {
    text-decoration: none;
    font-size: 18px;
    }


.pharmacy container > h1{
    display: flex;
    
    justify-content: center;
    text-decoration: none;
    
}








/* .text-area{
    width: 50;
    padding-right: 20;
} */


*/
/* header area style */
 /* .navigation-container {
    display:flex;
    gap:10px;
    justify-content: center; */

